header{
    background-color: black;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
li{
    color: white
    list-style-type: none;
    margin: 0 20px;
    text-transform: uppercase;   
}
.logo{
    color: white;
}